@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    --black1: #3b3c40;
    --yellow1: #f8c868;
    --white1: #f6f6f6;

    --font-primary: "Krona One", sans-serif;
    --font-action: "Montserrat", sans-serif;
    --font-button: "Rubik", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: var(--black1);
    color: var(--white1);
}

.cabecalho {
    padding-top: 2%;
    padding-left: 10%;
}

.cabecalho_menu {
    display: flex;
    gap: 40px;
}

.cabecalho_link {
    font-family: var(--font-action);
    color: var(--yellow1);
    font-size: 1rem;
}

.cabecalho_link:hover {
    color: var(--white1);
    font-weight: bold;
}

.apresentacao {
    padding: 4% 15% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.apresentacao_texto {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_destaque {
    font-size: 200%;
    font-family: var(--font-primary);
    text-align: center;
}

.apresentacao_destaque strong {
    color: var(--yellow1);
}

.apresentacao_lista {
    font-size: 125%;
    font-family: var(--font-action);
    text-align: center;
}

.apresentacao_lista a {
    font-family: var(--font-action);
    color: var(--yellow1);
    font-size: 100%;
}

.apresentacao_lista a:hover {
    color: var(--white1);
    text-decoration: underline;
}

.apresentacao_btn {
    display: flex;
    justify-content: space-between;
}

.apresentacao_btn_link {
    border: 2px solid var(--yellow1);
    border-radius: 10px;
    color: var(--yellow1);
    width: 45%;
    text-align: center;
    padding: 6% 5%;
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--font-button);
}

.apresentacao_btn_link:hover {
    border-color: var(--white1);
    color: var(--white1);
    width: 48%;
}

.contato {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.contato .ft1 {
    border: 2px solid var(--yellow1);
    border-radius: 49%;
    width: 100%;
}

.contato h2 {
    text-align: center;
    font-size: 150%;
    font-family: var(--font-primary);
}

.contato_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contato_btn_link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 2px solid var(--yellow1);
    border-radius: 10px;
    color: var(--yellow1);
    width: 70%;
    text-align: center;
    font-size: 125%;
    font-family: var(--font-button);
    padding: 2%;
}

.contato_img {
    width: 20%;
}

.contato_btn_link:hover {
    border-color: var(--white1);
    color: var(--white1);
    width: 70.1%;
}

.rodape {
    background-color: var(--yellow1);
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
}

.rodape_destaque {
    font-family: var(--font-action);
    color: var(--black1);
    margin-top: 0.5%;
    font-size: 1.25rem;
}

.contato_btn_link_c {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 2px solid var(--yellow1);
    border-radius: 10px;
    color: var(--yellow1);
    width: 70%;
    text-align: center;
    font-size: 125%;
    font-family: var(--font-button);
    padding: 2%;
}

.contato_btn_link_c:hover {
    border-color: var(--white1);
    color: var(--white1);
    width: 70.1%;
}

.apresentacao_projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.apresentacao_projetos_link {
    width: 100%;
    text-align: center;
    border: 2px solid var(--yellow1);
    border-radius: 10px;
    color: var(--yellow1);
    padding: 5px;
    font-size: 1.125rem;
    font-family: var(--font-button);
}

.apresentacao_projetos_link:hover {
    border-color: var(--white1);
    color: var(--white1);
    width: 101%;
}

@media(max-width: 1200px) {
    .cabecalho {
        padding: 5%;
    }

    .cabecalho_menu {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
        margin-bottom: 5%;
    }

    .apresentacao_texto {
        width: auto;
    }

    .apresentacao_destaque {
        font-size: 150%;
    }

    .apresentacao_lista {
        font-size: 100%;
    }

    .apresentacao_lista li {
        margin-bottom: 2px;
    }

    .apresentacao_lista a {
        font-size: 100%;
    }

    .apresentacao_btn {
        margin-bottom: 5%;
    }

    .apresentacao_btn_link {
        width: 45%;
        font-size: 65%;
    }

    .contato h2 {
        display: flex;
        justify-content: center;
        font-size: 140%;
    }

    .contato_img {
        width: 25%;
    }

    .contato_btn_link {
        width: 150%;
        font-size: 100%;
        padding: 5%;
    }

    .contato_btn_link:hover {
        width: 150%;
    }

    .rodape {
        height: 3%;
    }

    .rodape_destaque {
        font-size: 75%;
        padding: 0;
    }

    .apresentacao_projetos {
        margin-bottom: 5%;
    }

    .contato_btn_link_c {
        width: 70%;
        font-size: 100%;
        padding: 1%;
    }

    .contato_btn_link_c:hover {
        width: 70%;
    }
}